.container {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 110px;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffcad3;
  cursor: pointer;
  color: #0f172a;
  font-weight: 700;
}

.button:hover {
  background-color: #ff0045;
  color: #ffffff;
}

.button:disabled {
  background-color: rgba(113, 108, 109, 0.473);
  cursor: not-allowed;
}

.button:hover:disabled {
  background-color: rgba(113, 108, 109, 0.473);
  cursor: not-allowed;
  color: #0f172a;
}
