.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 120px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 2rem;
  padding: 0 8rem;
}

.formImage {
  flex: 1;
}

.form50 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.label50 {
  width: 48%;
}

.input {
  width: 100%;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 0.9rem;
}
.input50 {
  width: 100%;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 0.9rem;
}

.input:focus {
  border: 1px #ff0045 solid;
  outline: none;
}

.input50:focus {
  border: 1px #ff0045 solid;
  outline: none;
}

.textarea {
  width: 100%;
  height: 20vh;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 0.9rem;
}

.textarea:focus {
  border: 1px #ff0045 solid;
  outline: none;
}

.button {
  width: 110px;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffcad3;
  cursor: pointer;
  color: #0f172a;
  font-weight: 700;
}

.button:hover {
  background-color: #ff0045;
  color: #ffffff;
}
