.container {
  margin-top: 120px;
}

.hot {
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  margin-top: -5rem;
  margin-left: -4rem;
  animation: rotateHot 5s linear infinite; /* Animation de rotation */
}

@keyframes rotateHot {
  0% {
    transform: rotate(0deg); /* Départ de l'animation */
  }
  100% {
    transform: rotate(360deg); /* Fin de l'animation (rotation complète) */
  }
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 50%; /* Assure que l'image se redimensionne selon l'écran */
  height: 500px;
}

.image {
  width: 100%; /* L'image prend toute la largeur de son conteneur */
  height: 100%; /* L'image prend toute la hauteur de son conteneur */
  object-fit: cover; /* Assure que l'image reste bien proportionnée */
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.postTitle {
  font-size: 40px;
  text-transform: uppercase;
  width: 100%;
}

.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40vw;
  height: 100px;
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: #ffcad3;
  cursor: pointer;
  color: #0f172a;
  font-weight: 700;
}

.button:hover {
  background-color: #ff0045;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .post {
    display: flex;
    flex-direction: column;
  }

  .imgContainer {
    height: 350px;
    width: 100%;
  }

  .textContainer {
    width: 100%;
  }

  .postDesc {
    max-width: 100%;
  }
}
