.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100vw;
  z-index: 1000;
  padding: 0 1.5rem 0;
  background-color: #ff0045;
}

.logo {
  margin-left: 20%;
}

.links {
  display: flex;
  gap: 20px;

  font-size: 18px;
  align-items: center;
  color: #fffbf3;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
